*{background-color: #f5e5c9;}
#title {text-align: center;color: brown; font-weight: 800; font-family: fantasy, monospace, serif; background-color: bisque;}
li{background-color: bisque; font-size: 18px;font-family: sans-serif, serif; }
